<template>
    <div class="<%- name.classCase %>Page">
      <%- name %> page
    </div>
  </template>
  
  <script>
  export default {
    name: '<%- name.classCase %>Page',
    data () {
      return {};
    },
  }
  </script>
  
  <style lang="less" scoped>
  .<%- name.classCase %>Page {
  }
  </style>
  