<template>
  <div class="<%- name.upperCase %>Component">
    <%- name.upperCase %> Component
  </div>
</template>

<script>
  export default {
    name: '<%- name.upperCase %>Component',
    data () {
      return {};
    },
  }
</script>

<style lang="less" scoped src="./<%- name.snakeCase %>.less" />
