<template>
    <div class="<%- name.upperCase %>">
      <%- name.upperCase %> Component
    </div>
  </template>
  
  <script>
  export default {
    name: '<%- name.upperCase %>',
    data () {
      return {};
    },
  }
  </script>
  
  <style lang="less" scoped>
  .<%- name.upperCase %> {
  }
  </style>
  