<template>
  <div class="<%- name.classCase %>Widget">
    <%- name %> widget
  </div>
</template>
  
<script>
  export default {
    name: '<%- name.classCase %>Widget',
    data () {
      return {};
    },
  }
</script>

<style lang="less" scoped src="<%- name.snakeCase %>" />
  